html {
    background-color: #E9EEEB;
    font-family: sans-serif;
    color: #383B36;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html.dark {
    background-color: #2B3132;
    color: #EEECE3;
}

.dark .nav-links a {
    color: #EBEFEF;
}



body {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

#content {
    padding: 10px;
    padding-top: 0px;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    margin-bottom: 0px;
}

a {
    color: #383B36;
    text-decoration: none;
}

.dark a {
    color: #EBEFEF;
}

/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #9CC0BD;
}

.dark .hamburger .line {
    background-color: #9CC0BD;
}


#name-logo {
    text-align: center;
    font-size: 3rem;
    color: #F28377;
}


.nav-links {
    width: 100%;
    top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #383B36;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    transform: scale(1.1) 0.3s;
    /* Enlarge the text by 1.2x when hovered */
}

#home-button:hover,
#home-button:focus {
    background-color: #6ABFD8;
}

#home-title {
    color: #6ABFD8;
}

#about-button:hover,
#about-button:focus {
    background-color: #EE9BB5;
}

#about-title {
    color: #EE9BB5;
}

#blog-button:hover,
#blog-button:focus {
    background-color: #EFB656;
}

#blog-title {
    color: #EFB656;
}

#tags-button:hover,
#tags-button:focus {
    background-color: #B6D1CD;
}

#tags-title {
    color: #B6D1CD;
}

#projects-button:hover,
#projects-button:focus {
    background-color: #DC766C;
}

#projects-title {
    color: #DC766C;
}


.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }

}