---
import type {
    isTransitionBeforePreparationEvent,
    isTransitionBeforeSwapEvent,
} from "astro:transitions/client";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const headerID = "about-title";
---

<style>
    .content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #me-image-container {
        flex: 1;
    }

    #stef-pic {
        width: 100%;
    }

    #write-up-container {
        flex: 1;
        padding-right: 20px;
        text-align: justify;
    }
</style>
<BaseLayout pageTitle={pageTitle} header={headerID}>
    <div class="content-wrapper">
        <div id="write-up-container">
            <p>
                My name is Stephanie! I used to be a scientist, but I've fallen
                in love with programming, and trying to learn as much as I can
                about it! I enjoy making things (web development), playing with
                things (datasets, CV), and breaking things (cryptography, CTF).
            </p>
            <p>
                This is a reminder to myself to put up some tutorials for my
                future self. Sometimes I learn how to use a nifty tool or make a
                cool thing, and I'll forget everything about it the next time I
                need it ;A;
            </p>

            <p>
                Outside of coding, I love playing and watching a bunch of
                sports: volleyball, climbing, cycling. Shoot me an email to
                connect!
            </p>
        </div>

        <div id="me-image-container">
            <img id="stef-pic" src="/assets/me.JPG" />
        </div>
    </div>
</BaseLayout>
