---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Bloggalicious";
const headerID = "blog-title";
---

<BaseLayout pageTitle={pageTitle} header={headerID}>
    <p>Come read some of my thoughts:</p>
    <ul>
        {
            allPosts
                // .slice(-3)
                .map((post) => (
                    <BlogPost
                        url={`/posts/${post.slug}`}
                        title={post.data.title}
                    />
                ))
                .reverse()
        }
    </ul>
</BaseLayout>
