---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<!-- <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />       no client:load and jsx doesnt send/rerun jsx on client when page loads-->
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
