---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Card from "../components/Card.astro";
// import Greeting from "../components/Greeting";
const allPosts = await getCollection("posts");
const pageTitle = "Home Page";
const headerID = "home-title";
---

<style>
	a {
		text-decoration: underline;
	}
	p {
		/* text-align: justify; */
	}
</style>
<BaseLayout pageTitle={pageTitle} header={headerID}>
	<p>
		Hello! My name is Stephanie Nakamata and I'm an aspiring software
		developer. I'm currently at the <a href="https://www.recurse.com"
			>Recurse Center</a
		> for a 12 week batch, learning about ML, backend systems, cryptography,
		web security, and more!
	</p>
	<p>
		Here, you'll find a collection of things resulting from coding:
		thoughts, projects, details of my transformation?!
	</p>

	<h2>Latest Blog Posts</h2>
	<!-- slice -5 and reverse for hte latest blog posts -->
	<!-- blog about islands and react, project overview, front and back end -->
	<!-- have blogPost get passed written date!! that will be a good thing to format by -->
	<ul>
		{
			allPosts
				.slice(-3)
				.map((post) => (
					<BlogPost
						url={`/posts/${post.slug}`}
						title={post.data.title}
					/>
				))
				.reverse()
		}
	</ul>
	<h2>Project Overview</h2>
	<!-- get a nice write up of islands and a thumbnail thingy -->

	<ul>
		<li>
			<Card
				url="/projects/islands"
				img="/assets/islands.png"
				title="Islands"
				footer="Tony Stark"
			>
				Lorem ipsum dolor sit amet.
			</Card>
		</li>
		<li></li>

		<h2>List of Things I'm Working On</h2>
		<ul>
			<li>How to use Astro by building this website :P</li>
			<li>A cute computer vision project</li>
			<li>
				Machine learning fundamentals with <a
					href="https://karpathy.ai/zero-to-hero.html"
				>
					Karpathy's Neural Networks: Zero to Hero</a
				> series
			</li>
			<li>
				Learning about microservice architecture by building a video
				streaming application
			</li>
			<li>
				<a href="https://cryptopals.com">Cryptopals!</a> Currently on Set
				2, Challenge 18
			</li>
			<li>
				A data analysis and visualization project using <a
					href="https://opendata.cityofnewyork.us">NYC Open Data</a
				>
			</li>
			<li>
				Learning about web security on <a
					href="https://portswigger.net/web-security/learning-paths"
					>Port Swigger</a
				> and <a href="https://ctf.hacker101.com/ctf">CTF challenges!</a
				>
			</li>
			<li>Getting better at blogging</li>
		</ul>
	</ul>
</BaseLayout>
