---
interface Props {
    url?: string;
    img?: string;
    title?: string;
    children?: string | HTMLElement | HTMLElement[];
}

const {
    url = "#",
    img = "https://fakeimg.pl/640x360",
    title = "Default title",
} = Astro.props;
---

<div class="card">
    <div class="card__image">
        <img src={img} alt="" />
    </div>
    <div class="card__content">
        <h3>
            <a href={url}>{title}</a>
        </h3>
        <p>
            <slot>Default description.</slot>
        </p>
    </div>
</div>

<style is:global>
    ul#cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        @media (min-width: 300px) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
        }

        @media (min-width: 950px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        background-color: #fdfcf9;
        border-radius: 5px;
        border: solid #d5dfd8 2px;
        height: 300px;
        width: 350px;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .dark .card {
        border: solid #476780 2px;
        background-color: #3a4e66;
    }

    .card:hover,
    .card:focus-within {
        transform: scale(1.03);
    }

    .card:focus-within a:focus {
        text-decoration: none;
        box-shadow: none;
        outline: none;
    }

    .card__image {
        height: 200px;
    }

    .card__image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem;
    }

    .card__content h3 {
        margin-top: 0.5rem;
        margin-bottom: 0rem; /* Reduce the margin bottom */
    }

    .card__content p {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;
        margin-bottom: 0; /* Remove the default margin */
    }

    .card__content a {
        text-decoration: none;
    }

    .card__content a:focus {
        text-decoration: underline;
    }

    .card__content a::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    .card__content:last-child {
        margin-top: auto;
        padding-top: 0rem;
    }
</style>
