---
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<style>
    #name-logo {
    }
</style>
<header>
    <div class="header-content">
        <h1 id="name-logo">Stephanie Nakamata</h1>
        <nav>
            <Hamburger />
            <ThemeIcon />
            <Navigation />
        </nav>
    </div>
</header>
