---

---

<style>
    .nav-links {
        display: flex;
        justify-content: center;
    }
</style>
<div class="nav-links" transition:animate="slide">
    <a id="home-button" href="/">Home</a>
    <a id="about-button" href="/about/" data-astro-reload>About Me</a>
    <a id="projects-button" href="/projects/">Projects</a>
    <a id="blog-button" href="/blog/">Blog</a>
    <a id="thoughts-button" href="/thoughts/">Small Thoughts</a>
</div>
