---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Projects";
const headerID = "projects-title";
---

<BaseLayout pageTitle={pageTitle} header={headerID}>
    <p>hello here are some projects</p>
</BaseLayout>
