---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Writen by {frontmatter.author} on {frontmatter.pubDate.slice(0, 10)}</p>
    <slot />
</BaseLayout>
